/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
/* COLORS */
:root {
  --maya blue: #5AC7FE;
  --midnight-blue: #171A66;
  --blueberry: #4A9DF4;
  --toolbox: #576BBD;
  --orange: #FCAA43;
  --black: #010204;
  --cordovan: #873D48;
  --neon-pink: #ff00b4;
  --white: #fff;
  --spring-green: #1DEB83;
  --light-grey: #FAFAFA;
  --grey: #BFBFBF;
  --darker-grey: #ABABAB;
  --silver: #E0E0E0;
}

 /* GENERAL */
* {
  box-sizing: border-box;
}

html {
 font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: var(--toolbox);
}

/* TOP HEADER  */

header {
  background-color: var(--toolbox);
  padding: 15px;
}

header a {
  color: var(--white);
  text-decoration: none;
  font-size: 12px;
  font-weight: lighter;
}

.logo {
  color: var(--white);
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}

.logo a {
  color: var(--white);
  text-decoration: none;
  font-size: 25px;
}

.fas {
  color: var(--white);
  font-size: 16px;
}

.top-photo {
  height: 24px;
  width: 24px;
  border-radius: 50px;
}
.menu {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
  border-right:1px solid rgba(255,255,255,.3);
  text-align: right;
  padding-right: 20px;
}

.menu ul li a {
  margin-right: 15px;
}

.menu ul li {
  display: inline-block;
}

.icon-links {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
  padding-left: 20px;
}

.icon-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.search-area {
  display: inline-block;
  width: 40%;
  margin-left: -4px;
  text-align: right;
}

.search-area ul li {
  display: inline-block;
}

.privacy {
  display: inline-block;
  margin-left: -4px;
  padding-left: 15px;
}

.quick-options {
  display: inline-block;
  margin-left: -4px;
  border-right:1px solid rgba(255,255,255,.3);
  padding-left: 20px;
  padding-right: 20px;
}

/* TOP AREA  */

#top-area{
  padding: 200px 15px 90px 15px;
  background: url(http://hdqwalls.com/wallpapers/bthumb/neon-highway-4k-nz.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#top-area .profile-info .user-img {
  padding: 10px;
  display: inline-block;
}
#top-area .profile-info .user-img img {
  border-radius: 50%;
}

#top-area .profile-info .user-details {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

#top-area .profile-info .user-details h3 {
  color: var(--white);
  font-size: 25px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 10px;
}

#top-area .profile-info .user-details a {
  background: rgba(255, 255, 255, 0.3);
  display: inline-block;
  margin-left: -4px;
  margin-right: 5%;
  width: 45%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-size: 12px;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: background .4s ease-in-out;
}

#top-area .profile-info .user-details a:hover {
  background: var(--neon-pink);
}

/*  CONTENT AREA  */
.city-info {
font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-weight: bold;
letter-spacing: 1px;
}

#content-area {
background: var(--light-grey);
overflow: auto;
padding: 50px 0;
}

#content-area .side-bar {
 width: 35%;
 margin: 0 2.5%;
 float: left;
 max-width: 380px;
}

#content-area .main-area {
 width: 55%;
 margin: 0 2.5%;
 float: left;
}

#content-area .widget-box {
background: var(--white);
padding: 15px;
border-radius: 3px;
margin: 0 0 15px 0;
-webkit-box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
-moz-box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
overflow: auto;
}

#content-area .widget-box .head .widget-icon {
background: var(--grey);
height: 40px;
width: 40px;
border-radius: 50%;
color: var(--white);
display: flex;
align-items: center;
justify-content: center;
}

/* #content-area .widget-box .body {
  padding: 20px 0;
} */

#content-area .widget-box .head .widget-icon-container {
 display: inline-block;
}

#content-area .widget-box .head .widget-icon .fas {
max-width: 60%;
font-size: 23px;
}

#content-area .widget-box .head .widget-title {
  display: inline-block;
  padding: 0 0 0 10px;
  font-size: bold;
  color: var(--black);
}

#content-area .widget-box .body {
  padding: 20px 0;
}

/* WIDGET BOX PHOTOS  */
.nine-photos {
  display: inline-block;
  float: left;
  height: 110px;
  width: 33.3%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* MIDDLE CONTENT AREA */

#content-area .widget-box .body {
  padding: 20px 0;
}

#content-area .main-area {
  float:left;
  width: 55%;
  margin: 0 2.5%;
}

#content-area .main-area .widget-box.submenu {
  padding: 0;
  margin: 0;
  margin: 0 0 20px 0;
}

#content-area .main-area .submenu ul {
  padding: 0;
  margin: 0;

}

#content-area .main-area .submenu ul li{
  display: inline-block;
  padding: 10px;
  width: 20%;
  float: left;
  text-align: center;
  border-bottom: 3px solid var(--white);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

#content-area .main-area .submenu ul li:hover{
  border-bottom: 3px solid var(--blueberry);
  color: var(--neon-pink);
}

#content-area .main-area .submenu ul li:nth-child(5){
  padding: 28px 0 21px;
}

#content-area .main-area .submenu ul li .fa{
  font-size: 20px;
}

#content-area .main-area .submenu ul li span{
  display: block;
  margin: 15px 0 0 0;
  font-size: 12px;
}

#content-area .main-area .widget-box.post {
  overflow: auto;
}

#content-area .main-area .widget-box.post .head .user-img-container {
  width: 8%;
  display: inline-block;
  overflow: auto;
  float: left;
}

#content-area .main-area .widget-box.post .head{
  margin: 0 0 15px 0;
}

#content-area .main-area .widget-box.post .head .user-img{
  display: inline-block;
  background: url(http://buzz.bournemouth.ac.uk/wp-content/uploads/2017/12/1024px-Dress_Klashorst-cropped-edit.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 50%;
  margin: 0;
}

#content-area .main-area .widget-box.post .head .post-info{
  display: inline-block;
  float: left;
  width: 92%
}

#content-area .main-area .widget-box.post .head::after {
  content: " ";
  clear: both;
  display: table;
}

#content-area .main-area .widget-box.post .head .post-info .user-info{
  display: block;
  font-size: 14px;
  margin: 4px; 0 6px 0;
}

#content-area .main-area .widget-box.post .head .post-info .post-date{
  display: block;
  font-size: 12px;
  margin: 0 0 0 5px;
  color: var(--darker-grey);
}

#content-area .main-area .widget-box.post .body{
  padding: 0;
}

#content-area .main-area .widget-box.post .body .post-img img{
  width: 100%;
}

#content-area .main-area .widget-box.post .body .top-icons{
  width: 100%;
  padding: 0 0 15px 0;
  color: var(--darker-grey);
}

#content-area .main-area .widget-box.post .body .top-icons .fa{
  font-size: 20px;
}

#content-area .main-area .widget-box.post .body .top-icons .fa-thumbs-up{
  margin-right: 15px;
}

#content-area .main-area .widget-box.post .body .top-icons span{
  float: right;
  display: inline-block;
}

#content-area .main-area .widget-box.post .body .post-comments{
  background: var(--silver);
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
}

#content-area .main-area .widget-box.post .body .post-comments .user-img{
  width: 8%;
  display: inline-block;
  float: left;
}

#content-area .main-area .widget-box.post .body .post-comments::after {
  content: " ";
  clear: both;
  display: table;
}

#content-area .main-area .widget-box.post .body .post-comments .user-img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}

#content-area .main-area .widget-box.post .body .post-comments .user-comment{
  display: inline-block;
  float: left;
  width: 91%;
  margin-left: 3px;
  font-size: 12px;
}

#content-area .main-area .widget-box.post .body .post-comments .user-info{
  margin: 10px 0 10px 0;
}

#content-area .main-area .widget-box.post .body .post-form{
  padding: 15px 0 0 0;
}

#content-area .main-area .widget-box.post .body .post-form .user-img{
  width: 8%;
  display: inline-block;
  float: left;
}

#content-area .main-area .widget-box.post .body .post-form::after {
  content: " ";
  clear: both;
  display: table;
}

#content-area .main-area .widget-box.post .body .post-form .user-img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}

#content-area .main-area .widget-box.post .body .post-form .form-info{
  display: inline-block;
  float: left;
  width: 92%;
  font-size: 12px;
  padding: 10px 0;
  border-bottom: 1px solid var(--darker-grey);
}

#content-area .main-area .widget-box.post .body .post-form .form-info input{
  width: 80%;
  border: 0 solid var(--white);
  outline: none;
  font-size: 18px;
}

#content-area .main-area .widget-box.post .body .post-form .form-info input::focus{
  width: 80%;
  border: 0 solid var(--white);
  font-size: 18px;
}

#content-area .main-area .widget-box.post .body .post-form .form-info .icons{
  display: inline-block;
  float: right;
}

#content-area .main-area .widget-box.post .body .post-form .form-info .icons{
  font-size: 20px;
  margin-right: 0 15px 0 0;
}
